body{
	font-family: 'Roboto', sans-serif;
}
.brand{
	background: #ee3668;
	padding-top: 15px;
	padding-bottom: 15px;
}
.brand h1 a{
	color: white;
	text-decoration: none;
}
.brand h1{
	text-align: center;
	text-transform: uppercase;
	font-size: 45px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 0px;
}
/**********************************************/
#navbar-top{
	display: none;
}
.navbar{
	border-radius: 0px;
	margin-bottom: 0px;
	padding: 0px;
	border: none !important;
	background-color: #2b2e33;
	box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
}
.navbar .navbar-nav{
	font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: left;
}
.navbar-nav .nav-link{
	color: #7a8089;
	padding: 29px 32px !important;
	-webkit-transition: all .60s;
	   -moz-transition: all .60s;
	    -ms-transition: all .60s;
	     -o-transition: all .60s;
	        transition: all .60s;
}
.navbar-nav .nav-link:hover{
	color: white !important;
	background: #484c55 !important; 
}

.navbar-nav-content{
	margin: auto !important;
}
/**********************************************/
/*
#navbar-mobile{
	background-color: #ee3668 !important;
	padding: 5px 7px; 
}
#navbar-mobile .navbar-brand{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 700;
}
#navbar-mobile .navbar-nav{
	font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;
}
#navbar-mobile .navbar-nav .nav-link{
	color:white;
	padding: 10px 25px !important;
	-webkit-transition: all .60s;
	   -moz-transition: all .60s;
	    -ms-transition: all .60s;
	     -o-transition: all .60s;
	        transition: all .60s;
}
*/
/**********************************************/
#navbar-mobile{
	background-color: transparent; !important;
	padding: 5px 7px; 
	text-align: right;
}
#navbar-mobile .navbar-brand{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 700;
}
#navbar-mobile .navbar-nav{
	font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;
    background: #ee3668 !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
#navbar-mobile .navbar-nav .nav-link{
	color:white;
	padding: 10px 25px !important;
	-webkit-transition: all .60s;
	   -moz-transition: all .60s;
	    -ms-transition: all .60s;
	     -o-transition: all .60s;
	        transition: all .60s;
}
.navbar-light .navbar-toggler {
    color: white !important;
    border-color: none !important;
    background: #ee3668 !important;
    border-radius: 0px;
	padding: 10px;
    
}
/***************************************/
.section-home-one{
	
}
.carousel-item h1{
	background-color: rgba(0,0,0,.8);
    box-decoration-break: clone;
    -webkit-box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
    -moz-box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
    -ms-box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
    -o-box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
    box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
    color: #fff;
    display: inline;
    font-size: 49px;
    font-weight: 700;
    line-height: 132%;
}
.carousel-indicators .active{
	background-color: #ee3668;
}
.carousel-indicators li{
	background-color: #7B7B7B;
}
.carousel-caption {
    bottom: 70px;
}
/***************************************/
.section-spacing{
	margin-top: 445px;
}
.section-home-two{
	padding-top: 87px;
}
.section-home-two h2{
	color: #ee3668;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	font-weight: 300;
	margin-bottom: 51px;
}
.section-home-two p{
	color: #323232;
	font-size: 17px;
	line-height: 28px;
	font-weight: 300;
}
.section-home-two .full-content-image img{
	width: 100%;
}
.section-home-two .content-image img{
	width: 100%;
}
.section-home-two .image-content{
	float: right; 
	width: 30%;
}
/***************************************/
.section-home-three{
	padding-top: 87px;
	padding-bottom: 30px; 
}
.section-home-three h2{
	color: #ee3668;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	font-weight: 300;
	margin-bottom: 51px;
}
.section-home-three h3{
	font-size: 24px;
	line-height: 34px;
	font-weight: 300;
	margin-bottom: 10px;
	margin-top: 7px;
}
.section-home-three h3 a{
	color: #323232
}
.section-home-three p{
	color: #323232;
	font-size: 15px;
	line-height: 25px;
	font-weight: 300;
}
.section-home-three article{
	margin-bottom: 81px;
}
.section-home-three .content-image{
	position: relative;
}
.section-home-three .content-image img{
	width: 100%;
}
.section-home-three .content-image .content-description{
	opacity: 0;
	position: absolute;
    background-color: rgba(0,0,0,0.35);
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    bottom: 0px;
    color: white;
    -webkit-transition: all .50s;
       -moz-transition: all .50s;
        -ms-transition: all .50s;
         -o-transition: all .50s;
            transition: all .50s;
}
.section-home-three .content-image .content-description img{
	position: absolute;    
	top: 50%;
	left: 50%;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
}
.section-home-three .content-image .content-description:hover{
	opacity: 1;
}
/****************************************/
.section-home-four{
	padding: 87px 0;
}
.section-home-four{
	background-color: #ea6c2f;
	color: white;
}
.section-home-four h5{
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 900;
	margin-top: 39px;	
}
.section-home-four p{
	font-size: 18px;
	margin-top: 2px;
}
.section-home-four h4{
	font-family: 'Georgia', serif;
	font-size: 26px;
	font-weight: 400;
	font-style: italic;
	line-height: 36px
}
/********************************************/
.call-to-action{
	margin-top: 25px;
}
.call-to-action .btn{
	font-size: 23px;
	font-weight: 300;
	display: inline-block;
    padding: 5px 40px;
    color: #fff;
    background: #00a1df;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    border-radius: 26px;
    -webkit-transition: all .40s;
       -moz-transition: all .40s;
        -ms-transition: all .40s;
         -o-transition: all .40s;
            transition: all .40s;
}
.call-to-action .btn:hover{
	background: #ee3668;
}
/********************************************/
.section-menu-one{
	padding: 87px 0;
	background: #00a1df;
}
.section-menu-one h2{
	color: white;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	font-weight: 300;
	margin-bottom: 51px;
}
.section-menu-one h3{
	color: white;
	font-size: 22px;
	line-height: 26px;
	font-weight: 300;
	margin-bottom: 10px;	
}
.section-menu-one p{
	color: white;
	font-size: 17px;
	line-height: 28px;
	font-weight: 300;
}
.section-menu-one .content-image img{
	width: 90%;
}
.section-menu-one .image-content{
	float: left; 
	width: 30%;
}
/********************************************/
.section-menu-two{
	padding: 87px 0;
}
.section-menu-two h2{
	color: #ee3668;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	font-weight: 300;
	margin-bottom: 51px;
}
.section-menu-two h3{
	color: #323232;
	font-size: 22px;
	line-height: 26px;
	font-weight: 300;
	margin-bottom: 10px;	
}
.section-menu-two p{
	color: #323232;
	font-size: 17px;
	line-height: 28px;
	font-weight: 300;
}
.section-menu-two .content-image img{
	width: 100%;
}
.section-menu-two .image-content{
	float: right; 
	width: 30%;
}
/****************************************/
.section-menu-three{
	padding: 87px 0;
}
.section-menu-three{
	background-color: #ee3668;
	color: white;
}
.section-menu-three h4{
	text-align: center;
	font-size: 24px;
	font-weight: 300;
	line-height: 35px;
	margin-bottom: 0px;
}
/********************************************/

footer{
	padding: 55px 0;
	background: #E4E4E4;
}
footer p{
	margin-bottom: 0px;
	font-size: 18px;
	color: #323232;
	font-weight: 400;
	text-align: center;
}
/**********Responsive**********/
@media screen and (max-width: 991px) {
	.brand{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.brand h1{
		font-size: 32px;
	}
	.navbar .navbar-nav{
	    font-size: 17px;
	    line-height: 25px;
	}
	.navbar-nav .nav-link{
		padding: 20px 20px !important;
	}
	.carousel-item h1{
	    font-size: 28px;
	    font-weight: 700;
	    line-height: 132%;
	}
	.carousel-caption {
	    bottom: 35px;
	}
	.section-home-two{
		padding-top: 55px;
	}
	.section-home-two h2{
		font-size: 38px;
		line-height: 38px;
		margin-bottom: 20px;
	}
	.section-home-two p{
		font-size: 15px;
		line-height: 22px;
	}
	.call-to-action{
		margin-top: 20px;
		margin-bottom: 22px;
	}
	.call-to-action .btn{
		font-size: 16px;
	    padding: 5px 30px;
	}

	.section-home-four{
		padding: 55px 0;
	}
	.section-home-four h5{
		font-size: 19px;
		margin-top: 25px;	
	}
	.section-home-four p{
		font-size: 17px;
		margin-top: 15px;
	}
	.section-home-four h4{
		font-size: 20px;
		line-height: 27px;
	}
	.section-home-three{
		padding-top: 55px;
		padding-bottom: 25px; 
	}
	.section-home-three h2{
		font-size: 38px;
		line-height: 38px;
		margin-bottom: 20px;
	}
	.section-home-three h3{
		font-size: 19px;
		line-height: 22px;
		margin-bottom: 5px;
		margin-top: 10px;
	}
	.section-home-three p{
		font-size: 15px;
		line-height: 23px;
	}
	.section-home-three article{
		margin-bottom: 30px;
	}
	footer{
		padding: 27px 0;
	}
	.section-menu-one{
		padding: 55px 0;
	}
	.section-menu-one h2{
		font-size: 38px;
		line-height: 38px;
		margin-bottom: 20px;
	}
	.section-menu-one h3{
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 7px;
	}
	.section-menu-one p{
		font-size: 15px;
		line-height: 22px;
	}
	.section-menu-two{
		padding: 55px 0;
	}
	.section-menu-two h2{
		font-size: 38px;
		line-height: 38px;
		margin-bottom: 20px;
	}
	.section-menu-two h3{
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 7px;
	}
	.section-menu-two p{
		font-size: 15px;
		line-height: 22px;	
	}
	.section-menu-three{
		padding: 55px 0;
	}
	.section-menu-three h4{
		font-size: 19px;
		line-height: 29px;
		margin-bottom: 0px;
	}
}
/**************************************************************/
@media screen and (max-width: 880px) {
	.brand{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.brand h1{
		font-size: 32px;
	}
	.navbar .navbar-nav{
	    font-size: 17px;
	    line-height: 25px;
	}
	.navbar-nav .nav-link{
		padding: 20px 20px !important;
	}
	.carousel-item h1{
	    font-size: 28px;
	    font-weight: 700;
	    line-height: 132%;
	}
	.carousel-caption {
	    bottom: 35px;
	}
	.section-home-two{
		padding-top: 55px;
	}
	.section-home-two h2{
		font-size: 38px;
		line-height: 38px;
		margin-bottom: 20px;
	}
	.section-home-two p{
		font-size: 15px;
		line-height: 22px;
	}
	.section-home-two .image-content{ 
		width: 35%;
	}
	.call-to-action{
		margin-top: 20px;
		margin-bottom: 22px;
	}
	.call-to-action .btn{
		font-size: 16px;
	    padding: 5px 30px;
	}

	.section-home-four{
		padding: 55px 0;
	}
	.section-home-four h5{
		font-size: 19px;
		margin-top: 25px;	
	}
	.section-home-four p{
		font-size: 17px;
		margin-top: 15px;
	}
	.section-home-four h4{
		font-size: 20px;
		line-height: 27px;
	}
	.section-home-three{
		padding-top: 55px;
		padding-bottom: 25px; 
	}
	.section-home-three h2{
		font-size: 38px;
		line-height: 38px;
		margin-bottom: 20px;
	}
	.section-home-three h3{
		font-size: 19px;
		line-height: 22px;
		margin-bottom: 5px;
		margin-top: 10px;
	}
	.section-home-three p{
		font-size: 15px;
		line-height: 23px;
	}
	.section-home-three article{
		margin-bottom: 30px;
	}
	footer{
		padding: 27px 0;
	}
	.section-menu-one{
		padding: 55px 0;
	}
	.section-menu-one h2{
		font-size: 38px;
		line-height: 38px;
		margin-bottom: 20px;
	}
	.section-menu-one h3{
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 7px;
	}
	.section-menu-one p{
		font-size: 15px;
		line-height: 22px;
	}
	.section-menu-one .image-content{ 
		width: 35%;
	}
	.section-menu-two{
		padding: 55px 0;
	}
	.section-menu-two h2{
		font-size: 38px;
		line-height: 38px;
		margin-bottom: 20px;
	}
	.section-menu-two h3{
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 7px;
	}
	.section-menu-two p{
		font-size: 15px;
		line-height: 22px;	
	}
	.section-menu-two .image-content{ 
		width: 35%;
	}
	.section-menu-three{
		padding: 55px 0;
	}
	.section-menu-three h4{
		font-size: 19px;
		line-height: 29px;
		margin-bottom: 0px;
	}
}
/**************************************************************/

@media screen and (max-width: 767px) {
	.section-home-two{
		padding: 60px 0;
	}
	.section-home-two h2{
		font-size: 40px;
		line-height: 36px;
		margin-bottom: 17px;
	}
	.section-home-two p{
		font-size: 18px;
		line-height: 30px;
		text-align: left;
	}
	.section-home-two .image-content{ 
		width: 90%;
	}
	.call-to-action{
		text-align: center;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.call-to-action .btn{
		font-size: 20px;
	    padding: 5px 30px;
	}
	.section-home-four{
		padding: 60px 0;
	}
	.section-home-four h5{
		font-size: 18px;
		margin-top: 25px;	
		text-align: left;
	}
	.section-home-four p{
		font-size: 18px;
		margin-top: 5px;
		text-align: left;
	}
	.section-home-four h4{
		font-size: 20px;
		line-height: 25px;
		text-align: left;
	}
	.section-home-three{
		padding-top: 60px;
		padding-bottom: 15px; 
	}
	.section-home-three h2{
		font-size: 40px;
		line-height: 36px;
		margin-bottom: 22px;
	}
	.section-home-three h3{
		font-size: 21px;
		line-height: 24px;
		margin-bottom: 5px;
		margin-top: 10px;
	}
	.section-home-three p{
		font-size: 16px;
		line-height: 25px;
		font-weight: 300;
	}
	.section-home-three article{
		margin-bottom: 30px;
	}
	footer{
		padding: 30px 0;
	}
	footer p{
		font-size: 17px;
	}
	.section-menu-one{
		padding: 60px 0;
	}
	.section-menu-one h2{
		font-size: 40px;
		line-height: 36px;
		margin-bottom: 17px;
	}
	.section-menu-one h3{
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 10px;
		text-align: left;	
	}
	.section-menu-one p{
		font-size: 17px;
		line-height: 28px;
		text-align: left;	
	}
	.section-menu-one .content-image{
		text-align: center;
	}
	.section-menu-one .image-content{ 
		width: 90%;
	}
	.section-menu-two{
		padding: 60px 0;
	}
	.section-menu-two h2{
		font-size: 40px;
		line-height: 36px;
		margin-bottom: 17px;
	}
	.section-menu-two h3{
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 10px;
		text-align: left;	
	}
	.section-menu-two p{
		font-size: 17px;
		line-height: 28px;
		text-align: left;	
	}
	.section-menu-two .content-image{
		text-align: center;
	}
	.section-menu-two .image-content{ 
		width: 90%;
	}
	.section-menu-three{
		padding: 60px 0;
	}
	.section-menu-three h4{
		text-align: center;
		font-size: 23px;
		line-height: 33px;
		margin-bottom: 0px;
	}
}

/******************************************************/

@media screen and (max-width: 576px) {
	.section-home-two{
		padding: 50px 0;
	}
	.section-home-two h2{
		font-size: 34px;
		line-height: 36px;
		margin-bottom: 17px;
	}
	.section-home-two p{
		font-size: 17px;
		line-height: 28px;
		text-align: left;
	}
	.section-home-two .image-content{ 
		width: 90%;
	}
	.call-to-action{
		text-align: center;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.call-to-action .btn{
		font-size: 18px;
	    padding: 5px 30px;
	}
	.section-home-four{
		padding: 50px 0;
	}
	.section-home-four h5{
		font-size: 18px;
		margin-top: 25px;	
		text-align: left;
	}
	.section-home-four p{
		font-size: 18px;
		margin-top: 5px;
		text-align: left;
	}
	.section-home-four h4{
		font-size: 20px;
		line-height: 25px;
		text-align: left;
	}
	.section-home-three{
		padding-top: 50px;
		padding-bottom: 15px; 
	}
	.section-home-three h2{
		font-size: 34px;
		line-height: 36px;
		margin-bottom: 22px;
	}
	.section-home-three h3{
		font-size: 21px;
		line-height: 24px;
		margin-bottom: 5px;
		margin-top: 10px;
	}
	.section-home-three p{
		font-size: 16px;
		line-height: 25px;
		font-weight: 300;
	}
	.section-home-three article{
		margin-bottom: 30px;
	}
	footer{
		padding: 30px 0;
	}
	footer p{
		font-size: 17px;
	}
	.section-menu-one{
		padding: 50px 0;
	}
	.section-menu-one h2{
		font-size: 34px;
		line-height: 36px;
		margin-bottom: 17px;
	}
	.section-menu-one h3{
		font-size: 19px;
		line-height: 23px;
		margin-bottom: 10px;
		text-align: left;	
	}
	.section-menu-one p{
		font-size: 17px;
		line-height: 28px;
		text-align: left;	
	}
	.section-menu-one .content-image{
		text-align: center;
	}
	.section-menu-one .image-content{ 
		width: 90%;
	}
	.section-menu-two{
		padding: 50px 0;
	}
	.section-menu-two h2{
		font-size: 34px;
		line-height: 36px;
		margin-bottom: 17px;
	}
	.section-menu-two h3{
		font-size: 19px;
		line-height: 23px;
		margin-bottom: 10px;
		text-align: left;	
	}
	.section-menu-two p{
		font-size: 17px;
		line-height: 28px;
		text-align: left;	
	}
	.section-menu-two .content-image{
		text-align: center;
	}
	.section-menu-two .image-content{ 
		width: 90%;
	}
	.section-menu-three{
		padding: 50px 0;
	}
	.section-menu-three h4{
		text-align: center;
		font-size: 21px;
		line-height: 31px;
		margin-bottom: 0px;
	}
}

/*******************************************************/

@media screen and (max-width: 380px) {
	.section-home-two{
		padding: 45px 0;
	}
	.section-home-two h2{
		font-size: 32px;
		line-height: 34px;
		margin-bottom: 17px;
	}
	.section-home-two p{
		font-size: 16px;
		line-height: 28px;
		text-align: left;
	}
	.section-home-two .image-content{ 
		width: 88%;
	}
	.call-to-action{
		text-align: center;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.call-to-action .btn{
		font-size: 17px;
	    padding: 5px 30px;
	}
	.section-home-four{
		padding: 45px 0;
	}
	.section-home-four h5{
		font-size: 18px;
		margin-top: 25px;	
		text-align: left;
	}
	.section-home-four p{
		font-size: 17px;
		margin-top: 5px;
		text-align: left;
	}
	.section-home-four h4{
		font-size: 20px;
		line-height: 25px;
		text-align: left;
	}
	.section-home-three{
		padding-top: 45px;
		padding-bottom: 15px; 
	}
	.section-home-three h2{
		font-size: 32px;
		line-height: 34px;
		margin-bottom: 22px;
	}
	.section-home-three h3{
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 5px;
		margin-top: 10px;
	}
	.section-home-three p{
		font-size: 15px;
		line-height: 25px;
		font-weight: 300;
	}
	.section-home-three article{
		margin-bottom: 30px;
	}
	footer{
		padding: 30px 0;
	}
	footer p{
		font-size: 17px;
	}
	.section-menu-one{
		padding: 45px 0;
	}
	.section-menu-one h2{
		font-size: 32px;
		line-height: 34px;
		margin-bottom: 17px;
	}
	.section-menu-one h3{
		font-size: 19px;
		line-height: 23px;
		margin-bottom: 10px;
		text-align: left;	
	}
	.section-menu-one p{
		font-size: 16px;
		line-height: 28px;
		text-align: left;	
	}
	.section-menu-one .content-image{
		text-align: center;
	}
	.section-menu-one .image-content{ 
		width: 88%;
	}
	.section-menu-two{
		padding: 45px 0;
	}
	.section-menu-two h2{
		font-size: 32px;
		line-height: 34px;
		margin-bottom: 17px;
	}
	.section-menu-two h3{
		font-size: 19px;
		line-height: 23px;
		margin-bottom: 10px;
		text-align: left;	
	}
	.section-menu-two p{
		font-size: 16px;
		line-height: 28px;
		text-align: left;	
	}
	.section-menu-two .content-image{
		text-align: center;
	}
	.section-menu-two .image-content{ 
		width: 88%;
	}
	.section-menu-three{
		padding: 45px 0;
	}
	.section-menu-three h4{
		text-align: center;
		font-size: 21px;
		line-height: 31px;
		margin-bottom: 0px;
	}
}

/****************************************************/

@media screen and (max-width: 320px) {
	.section-home-two{
		padding: 45px 0;
	}
	.section-home-two h2{
		font-size: 32px;
		line-height: 34px;
		margin-bottom: 17px;
	}
	.section-home-two p{
		font-size: 16px;
		line-height: 28px;
		text-align: left;
	}
	.section-home-two .image-content{ 
		width: 87%;
	}
	.call-to-action{
		text-align: center;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.call-to-action .btn{
		font-size: 17px;
	    padding: 5px 30px;
	}
	.section-home-four{
		padding: 45px 0;
	}
	.section-home-four h5{
		font-size: 18px;
		margin-top: 25px;	
		text-align: left;
	}
	.section-home-four p{
		font-size: 17px;
		margin-top: 5px;
		text-align: left;
	}
	.section-home-four h4{
		font-size: 20px;
		line-height: 25px;
		text-align: left;
	}
	.section-home-three{
		padding-top: 45px;
		padding-bottom: 15px; 
	}
	.section-home-three h2{
		font-size: 32px;
		line-height: 34px;
		margin-bottom: 22px;
	}
	.section-home-three h3{
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 5px;
		margin-top: 10px;
	}
	.section-home-three p{
		font-size: 15px;
		line-height: 25px;
		font-weight: 300;
	}
	.section-home-three article{
		margin-bottom: 30px;
	}
	footer{
		padding: 30px 0;
	}
	footer p{
		font-size: 17px;
	}
	.section-menu-one{
		padding: 45px 0;
	}
	.section-menu-one h2{
		font-size: 32px;
		line-height: 34px;
		margin-bottom: 17px;
	}
	.section-menu-one h3{
		font-size: 19px;
		line-height: 23px;
		margin-bottom: 10px;
		text-align: left;	
	}
	.section-menu-one p{
		font-size: 16px;
		line-height: 28px;
		text-align: left;	
	}
	.section-menu-one .content-image{
		text-align: center;
	}
	.section-menu-one .image-content{ 
		width: 87%;
	}
	.section-menu-two{
		padding: 45px 0;
	}
	.section-menu-two h2{
		font-size: 32px;
		line-height: 34px;
		margin-bottom: 17px;
	}
	.section-menu-two h3{
		font-size: 19px;
		line-height: 23px;
		margin-bottom: 10px;
		text-align: left;	
	}
	.section-menu-two p{
		font-size: 16px;
		line-height: 28px;
		text-align: left;	
	}
	.section-menu-two .content-image{
		text-align: center;
	}
	.section-menu-two .image-content{ 
		width: 87%;
	}
	.section-menu-three{
		padding: 45px 0;
	}
	.section-menu-three h4{
		text-align: center;
		font-size: 21px;
		line-height: 31px;
		margin-bottom: 0px;
	}
}