body{
	font-family: 'Roboto', sans-serif;
}
.brand{
	background: #ee3668;
	padding-top: 23px;
	padding-bottom: 23px;
}
.brand h1 a{
	color: white;
	text-decoration: none;
}
.brand h1{
	text-align: center;
	text-transform: uppercase;
	font-size: 52px;
	font-weight: 700;
	letter-spacing: -1.5px;
	margin-top: 0px;
	margin-bottom: 0px;
}
/**********************************************/
#navbar-top{
	display: none;
}
.navbar{
	border-radius: 0px;
	margin-bottom: 0px;
	padding: 0px;
	border: none !important;
	background-color: #2b2e33;
	box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
}
.navbar .navbar-nav{
	font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: left;
}
.navbar-nav .nav-link{
	color: #7a8089;
	padding: 37px 40px !important;
	-webkit-transition: all .60s;
	   -moz-transition: all .60s;
	    -ms-transition: all .60s;
	     -o-transition: all .60s;
	        transition: all .60s;
}
.navbar-nav .nav-link:hover{
	color: white !important;
	background: #484c55 !important; 
}
/***************************************/
.section-home-one{
	
}
.carousel-item h1{
	background-color: rgba(0,0,0,.8);
    box-decoration-break: clone;
    -webkit-box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
    -moz-box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
    -ms-box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
    -o-box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
    box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
    color: #fff;
    display: inline;
    font-size: 49px;
    font-weight: 700;
    line-height: 132%;
}
.carousel-indicators .active{
	background-color: #ee3668;
}
.carousel-indicators li{
	background-color: #7B7B7B;
}
.carousel-caption {
    bottom: 70px;
}
/***************************************/
.section-spacing{
	margin-top: 445px;
}
.section-home-two{
	padding-top: 87px;
}
.section-home-two h2{
	color: #ee3668;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	font-weight: 300;
	margin-bottom: 51px;
}
.section-home-two p{
	color: #323232;
	font-size: 17px;
	line-height: 28px;
	font-weight: 300;
}
.section-home-two .full-content-image img{
	width: 100%;
}
.section-home-two .content-image img{
	width: 100%;
}
/***************************************/
.section-home-three{
	padding-top: 87px;
	padding-bottom: 30px; 
}
.section-home-three h2{
	color: #ee3668;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	font-weight: 300;
	margin-bottom: 51px;
}
.section-home-three h3{
	font-size: 24px;
	line-height: 34px;
	font-weight: 300;
	margin-bottom: 10px;
	margin-top: 7px;
}
.section-home-three h3 a{
	color: #323232
}
.section-home-three p{
	color: #323232;
	font-size: 15px;
	line-height: 25px;
	font-weight: 300;
}
.section-home-three article{
	margin-bottom: 81px;
}
.section-home-three .content-image{
	position: relative;
}
.section-home-three .content-image img{
	width: 100%;
}
.section-home-three .content-image .content-description{
	opacity: 0;
	position: absolute;
    background-color: rgba(0,0,0,0.35);
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    bottom: 0px;
    color: white;
    -webkit-transition: all .50s;
       -moz-transition: all .50s;
        -ms-transition: all .50s;
         -o-transition: all .50s;
            transition: all .50s;
}
.section-home-three .content-image .content-description img{
	position: absolute;    
	top: 50%;
	left: 50%;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
}
.section-home-three .content-image .content-description:hover{
	opacity: 1;
}
/****************************************/
.section-home-four{
	padding: 87px 0;
}
.section-home-four{
	background-color: #ea6c2f;
	color: white;
}
.section-home-four h5{
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 900;
	margin-top: 39px;	
}
.section-home-four p{
	font-size: 18px;
	margin-top: 2px;
}
h4{
	font-family: 'Georgia', serif;
	font-size: 26px;
	font-weight: 400;
	font-style: italic;
	line-height: 36px
}
/********************************************/
.call-to-action{
	margin-top: 25px;
}
.call-to-action .btn{
	font-size: 23px;
	font-weight: 300;
	display: inline-block;
    padding: 5px 40px;
    color: #fff;
    background: #00a1df;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    border-radius: 26px;
    -webkit-transition: all .40s;
       -moz-transition: all .40s;
        -ms-transition: all .40s;
         -o-transition: all .40s;
            transition: all .40s;
}
.call-to-action .btn:hover{
	background: #ee3668;
}
/********************************************/
footer{
	padding: 55px 0;
	background: #E4E4E4;
}
footer p{
	margin-bottom: 0px;
	font-size: 18px;
	color: #323232;
	font-weight: 400;
	text-align: center;
}
